<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BulletPhysics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>expatxml.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>freeimage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>freetype.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>glew.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>iconv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>lua.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>tinyxml.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>zziplib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B5BDEA91EA7BDA3009A3727</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B5BDEBB1EA7C3DF009A3727</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B5BDEC81EA7C59A009A3727</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B5BDF031EA7C927009A3727</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B5BDF421EA7D174009A3727</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B6F79801ECF499600E3D303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BCF6B201EA8E782000EF50E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BCF6BAB1EA8E97C000EF50E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BCF6BE21EA8EC86000EF50E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BCF6C4F1EAFD5FE000EF50E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BCF6EA21EB248BF000EF50E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BCF7B181EB79B40000EF50E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BCF7B971EBE3D65000EF50E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
